<div class="product">
  <p><%= product.name %></p>
  <ul>
    <li><strong>Price: </strong><%= product.price %></li>
    <li><strong>Size: </strong><%= product.size %></li>
    <li><strong>Quantity: </strong><%= product.quantity %></li>
  </ul>
</div>