<h1 class="title"><%= @product.name %></h1>

<div class="columns">
  <div class="column is-three-fifths">
    <%= image_tag @product.fullsize %>
  </div>
  <div class="column is-two-fifths">
  </div>
</div>
